name: NAV Scheduler

on:
  workflow_dispatch:
  schedule:
    # Market Open – 09:16 IST (03:46 UTC)
    - cron: '46 3 * * 1-5'

    # Mid Snapshot – 13:40 IST (08:10 UTC)
    - cron: '10 8 * * 1-5'

    # Market Close – 15:31 IST (10:01 UTC)
    - cron: '1 10 * * 1-5'

    # Actual NAV – 23:10 IST (17:40 UTC)
    - cron: '40 17 * * *'

    # Night Summary – 23:12 IST (17:42 UTC)
    - cron: '42 17 * * *'

jobs:
  call-script:
    runs-on: ubuntu-latest

    steps:
      - name: Call Apps Script Web App
        run: |
          curl -L "https://script.google.com/macros/s/AKfycbzPIczGawh4kNdiemgQEc1EuhdF8dhYC7-LFBCr25HzvUkJou9Bazt1EeW5t45NLcYQ/exec?action=open&key=ABC123XYZ"
